.item {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 10px 8px;
  border-top: 1px solid #e8eaed;
  font-size: 15px;
  font-weight: 600;
}
.item:hover {
  background-color: #f0f0f0;
}

.box_price {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.change_percent {
  display: flex;
  align-items: center;
}
