.label {
  width: 662px;
  display: block;
  margin: 20px auto;
}
.input {
  width: 88%;
  margin-left: 23px;
  outline: none;
  color: #ccc;
  background-color: transparent;
  border: 1px solid #ccc;
}

.input:hover,
.input:focus {
  border: 1px solid #498ef2;
}
